body {
    height: 1500px;
    border: solid 1px red;
    font-family: cursive;
}

.aqua_button {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    top: 250px;

}

div {
    border: solid 1px darkorchid;
}

img {
    position: fixed;
    left: 200px;
    top: 350px;
}
